<!Doctype html>
<html>
    <head>

    </head>
    <body>
      <h1>Food Nutrient Database</h1>
      <div>
          <h2>Nutrient Search</h2>
          <table>
              <thead>
                <tr>
                    <th>Nutrient</th>
                    <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>
                        <select>
                            <option>Vitamin A</option>
                            <option>Vitamin B</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" />
                    </td>
                </tr>
              </tbody>
          </table>
      </div>
      <div>
          <h2>Matching Foods</h2>
          <ul>
              <li><a href="#">Food 1</a></li>
              <li><a href="#">Food 2</a></li>
              <li><a href="#">Food 3</a></li>
              <li><a href="#">Food 4</a></li>
          </ul>
      </div>
      <div>
          <h2>{FOOD}</h2>
          <h3>Vitamins</h3>
          <ul>
              <li>vitamin</li>
              <li>vitamin</li>
              <li>vitamin</li>
              <li>vitamin</li>
          </ul>
          <h3>Minerals</h3>
          <ul>
              <li>mineral</li>
              <li>mineral</li>
              <li>mineral</li>
              <li>mineral</li>
          </ul>
          <h3>Other</h3>
          <ul>
              <li>other</li>
              <li>other</li>
              <li>other</li>
          </ul>
      </div>
    </body>
</html>
